*{
  box-sizing: border-box;
}

.upper-nav{
  background-color: aqua;
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
  
}

li{
  width: 100px;
  list-style: none;
}
