*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-image: url(../images/background.png);
  position: relative;
 
}

.upper-nav{
  align-items: center;
  background: linear-gradient(90deg,rgb(201, 54, 135),rgb(255, 123, 0));
  box-shadow: 8px 10px 10px grey;
  cursor: pointer;
  display: flex;
  justify-content: right;
  position:fixed;
  width: 100%;
  
  
}

li{
  list-style: none;
  width: 100px;
}
h1{
  align-items: center;
  color: rgb(91, 30, 148);
  display: flex;
  font-size: 10em;
  justify-content: center;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

p{
  color: rgb(212, 216, 219);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

img{
  height: 600px;
  padding: 50px;
  width: 49%;
}
a{
  text-decoration: none;
}

.about{
  align-items: center;
  justify-content: center;
  display: flex;
}

.blogs{
  background-color: rgb(38, 84, 110);
  border: 2px solid rgb(110, 108, 108);
}

.phone{
  align-items:center;
  display: flex;
  justify-content:center;
  padding: 10px;
}

.git{
  align-items:center;
  display: flex;
  justify-content:center;
  padding: 10px;
}

#main{
  align-items: center;
  display: flex;
  height:200px;
  justify-content: center;
}

button{
  background-color: rgb(61, 61, 70);
  color: brown;
  font-size: 3em;
  margin: 0 1em;
  text-transform: uppercase;
}

span{
  color: rgb(105, 84, 100);
  font-size: 3em;
}
